services:
  client:
    build:
      target: dev
    command: sh -c "
      npm i
      && npm run dev
      "
    volumes:
      - ./client:/app/
      # - ./.env:/app/.env
      - /app/node_modules
    restart: no

  server:
    build:
      target: dev
    command: sh -c "
      npm i
      && npm run prisma:deploy
      && npm run prisma:generate
      && npm run start:dev
      "
    volumes:
      - ./server:/app/
      # - ./.env:/app/.env
      - /app/node_modules
    restart: no

  db:
    restart: no

  nginx:
    ports:
      - "${NGINX_PORT}:80"
    command: >
      sh -c "
      envsubst '$${PORT_SERVER}'
      < /etc/nginx/templates/nginx.dev.conf > /etc/nginx/nginx.conf
      && nginx -g 'daemon off;'
      "
    restart: no
