@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --color-primary: #fc7300;
  /* --color-primary: var(--mui-palette-primary-main); */
  --color-secondary: #16498a;
  /* --color-secondary: var(--mui-palette-secondary-main); */
  --color-text-light: #ffffff;
  --color-text-g1: #111827;
  --color-text-g2: #02244d;
  --color-text-g3: #505f7c;
  --color-text-g4: #6b7280;
  --color-text-g5: #9ca3af;
  --color-text-g6: #e5e7eb;

  --bg-section-gradient: radial-gradient(
    186.93% 102.34% at 81.46% 7.95%,
    #fff8de 0%,
    #dceeff 100%
  );

  --border-radius-main: 10px;

  --font-weight-default: 500;
}

@theme {
  --breakpoint-sm: 600px; /* was 640px */
  --breakpoint-md: 900px; /* was 768px (iPad) */
  --breakpoint-lg: 1200px; /* was 1024px */
  --breakpoint-xl: 1536px; /* was 1280px */
}

@layer base {
  img {
    display: block;
    height: auto;
    max-width: initial;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: var(--color-primary) var(--color-text-g6);
  }

  @supports (scrollbar-width: auto) {
    .custom-scrollbar {
      scrollbar-color: var(--color-primary) var(--color-text-g6);
      scrollbar-width: auto;
    }
  }

  @supports selector(::-webkit-scrollbar) {
    .custom-scrollbar::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: var(--color-text-g6);
      border-radius: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
      border-radius: 6px;
      border: none;
      cursor: grab;
    }

    .custom-scrollbar:hover::-webkit-scrollbar-thumb {
      background-color: var(--color-secondary);
    }
  }
}
